
.TasklistsPage {
    display: flex;
    height: 100%;
   
    margin: 0 auto;
    position: relative;
}

.TasklistsPage_menu {
    box-shadow: 3px 5px 10px;
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.TasklistsPage_list {
    background-color: transparent !important;
}

.TasklistsPage_title {
    padding: 5px 10px;
    font-weight: 300;
}

.TasklistsPage_tasks {
    margin-left: 300px;
    width: 100%;
    height: 100vh;
}
