*{
    margin: 0;
}
.TasksPage {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 500px;
    margin: 15px;
}
.addButton{
    background-color: rgb(91, 180, 180);
    border-radius: 15px;
}
.TasksPage__tasks {
    font-size: 1.7em;
    padding: 16px;
    width: 100%;
    max-width: 1000px;
}

.TasksPage__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.TasksPage__title {
    font-size: 20px;
    margin-left: 32px;
}
.TasksPage__modal-title {
    margin: 0;
}